body{
    background-color: #EAF6F6;
}
img{
    width: 300px;
    height: 300px;
    justify-content: flex-start
}
#educationTitle{
    align-content: flex-end;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}