body {
    margin: 0px;
}
.top-container{
    background-color: #E4F9F5;
}
.middle-container{
    background-color: bisque;
    height: 2000px;
}
h1 {
    display: flex;
    margin-top: 0px;
    justify-content: center;
}
p{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}
.pro{
    text-decoration: underline;
    margin-left: 5px;
}
.cloud-div1{
    display:flex;
    justify-content: center;
    padding-left: 500px;
}
.cloud-div2{
    display:flex;
    justify-content: center;
    padding-right: 500px;
}
.mountain-div{
    display: flex;
    justify-content: center;
}
.title{
    margin: 0px;
}
.uta-title{
    margin: 0px
}
.uta-image{
    height: 300px;
    border-radius: 20px;
}
.education-section{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
hr{
    border-color: gray;
    border-style: dotted none none none;
    border-width: 5px;
    width: 10%;
}
